// Custom
$colours: (
  "highlight": #e92569,
  "background": #e5e5e5,
  "hvit": #ffffff,
  "gra": #767676,
  "lysgra": #C7C7C7,
  "navi": #efefef,
  "sort": #0a0a0a,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}

$pagination-border-radius: 0;

// Bootstrap
$blue: getColour(highlight);
$theme-colors: (
  "primary": getColour(highlight),
);

$font-family-base: "Lato", sans-serif;
$headings-font-family: "Playfair Display", serif;

@import "~bootstrap/scss/bootstrap";
@import "./partials/navz";
@import "./partials/typography";
@import "./partials/cardz";
@import "./partials/carouzel";
@import "./partials/tabz";
@import "./partials/contact";
@import "./partials/footerz";

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(getColour(hvit), getColour(background));
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  flex: 1 0 auto;
}
