.nav__button {
    background-color: getColour(highlight);
    color: getColour(hvit);
    border-radius: 0 3px 3px 0 !important;
}

.navbar {
    background-color: getColour(navi);
}

.nav-link {
    color: getColour(sort);
}

.active {
    background-color: getColour(hvit);
}